<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .tema {
        text-align: center;
     
    }

    .tematabel {
        float: center;
        background-color: rgb(151, 224, 144);
        height: 50%;
        width: 50%;
        position: center;
    }

</style>
<body class="tema">
    <div class="tematabel">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">MAKANAN</th>
            <th scope="col">jumlah</th>
            <th scope="col">HARGA</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{data.makanan}}</td>
            <td>{{data.jumlah}}</td>
            <td>{{data.harga}}</td>
          </tr>
         
        </tbody>
      </table>
    </div>
</body>
</html>