<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <h1>MAKANAN</h1>
    <form action="" method="POST">
        {% csrf_token %} 

        <p>
            <label>NAMA</label><input type="text" name="item">
        </p>
        <p>
            <label>jenis 
            </label><select name="jenis">
                <option value="basah">basah</option>
                <option value="kering">kering</option>
            </select>
        </p>
        <p>
            <label>jumlah</label><input type="number" name="jumlah">
        </p>
        <p>
            <label>HARGA</label><input type="teks" name="harga">
        </p>
        
        <button type="submit">Simpan</button>

        <h1>MINUMAN</h1>
        <p>
            <label>NAMA</label><input type="text" name="item">
        </p>
        <p>
            <label>jenis</label><select name="jenis">
                <option value="panas">panas</option>
                <option value="dingin">dingin</option>
            </select>   
        </p>
        <p>
            <label>jumlah</label><input type="number" name="jumlah">
        </p>
        <p>
            <label>HARGA</label><input type="text" name="harga">
        </p>

        <button type="submit">Simpan</button>
        <br>
    </form>

  <div>
        <table class='table' table-hover mt-3>
            <thead>
                <br>
                {% for d in data %}
                
                <tr>
                    
                    <th>{{forloop.counter}}</th>
            
            

                    <td class="text-capitalize">{{d.item}}</td> 
            
                    <td>
                        <a type="button"class="btn btn-success" href="{{d.id}}/detail">Rincian</a>
                        <a type="button"class="btn btn-warning" href="#">Edit</a>
                        <a type="button"class="btn btn-danger" href="{{d.id}}/delete">Hapus</a>
                    </td>
                    
                </tr>
                {% endfor %}
            </thead>
            
        </table>
  </div>
    
    
</body>
</html>