<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="#" method="POST" class="mt-3">
        {% csrf_token %} 

        <p>
            <label>MAKANAN</label><input type="text" name="makanan">
        </p><p>
            <label>jenis makanan</label><select name="jenismakanan">
                <option value="basah">basah</option>
                <option value="kering">kering</option>
                <option value="goreng">goreng</option>
                <option value="rebus">rebus</option>
                <option value="bakar">bakar</option>
            </select>
        </p>
        <p>
            <label>jumlah makanan</label><input type="number" name="jumlahmakanan">
        </p>
        <p>
            <label>MINUMAN</label><input type="text" name="minuman">
        </p>
        <p>
            <label>jenis minuman</label><select name="jenisminuman">
                <option value="hangat">hangat</option>
                <option value="dingin">dingin</option>
            </select>
        </p>
        <p>
            <label>jumlah minuman</label><input type="number" name="jumlahminuman">
        </p>
        <p>
            <label>HARGA</label><input type="teks" name="harga">
        </p>
        
        <button type="submit" class="btn btn-primary mt-1">edit</button>
</body>
</html>